<style>
	table {
	border-collapse: collapse;
	}
	tr, td, thead {
	border: 1px solid;
    padding: 5px;
    }
	thead {
	background-color: #808080;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	}
	tr {
	font-size: 12px;
	}
</style>
<p>Добрый день, {{ user.first_name }}!</p>

{% if expired_issues %}
	<p><strong>Истек срок контроля у следующих запросов:</strong></p>
	{% include "mail/list_table.html" with issues=expired_issues %}
{% endif %}

{% if expiring_issues %}
	<p><strong>Запросы, срок контроля у которых истекает сегодня или завтра:</strong></p>
	{% include "mail/list_table.html" with issues=expiring_issues %}
{% endif %}