{% extends "base.html" %}

{% block title %}. Вход{% endblock %}

{% block header_block %}<h3>Вход в систему</h3>{% endblock %}

{% block body_block %}

{% load widget_tweaks %}

	<div class="col-md-4">

		{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Неверная пара логин/пароль
			</div>
		{% endif %}

		<form role="form" method="post" action="{% url 'helpdesk:login' %}">
		{% csrf_token %}

			{% for item in form %}
			<div class="form-group">
				{{ item.label_tag }}
				{% render_field item class="form-control" %}
				{{ item.errors }}
			</div>
			{% endfor %}

			<div class="form-group">
				<button type="submit" class="btn btn-primary">Войти</button>
				<!-- <button type="button" class="btn btn-default">Зарегистрироваться</button> -->
			</div>
		</form>
	</div>

{% endblock %}