{% extends 'regions/index.html' %}

{% load staticfiles %}

{% block title %}. Регионы. {{ region }} {% endblock %}

{% block header_block %} <h3>{{ region }}</h3> {% endblock %}

{% block body_block %}

<!-- Modal -->
<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "regions/contact_form_modal.html" %}
		</div>
	</div>
</div>
<!-- end of Modal -->



<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingOne">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Контакты
				<small><span class="glyphicon glyphicon glyphicon-menu-down" aria-hidden="true"></span></small>
			</a>
		</h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			{% if contact_form.errors %}
			<div class="col-md-3">
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<p><span class="glyphicon glyphicon-exclamation-sign"></span> Данные заполнены неверно</p>
					<br />
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#ContactModal">
						Попробуйте еще раз
					</button>
				</div>
			</div>
			{% endif %}

			{% if contact_list %}
			<table class="table table-hover">
				<thead class="issue-table">
					<tr>
						<th>Ф.И.О.</th>
						<th>Телефон</th>
						<th>E-mail</th>
						<th>Должность</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in contact_list %}
						<tr>
							<td class="text-nowrap">{{ item.name }}</td>
							<td class="text-nowrap">{{ item.phone }}</td>
							<td>
								{% for email in item.emails_as_list %}
									<a href="mailto:{{ email }}">{{ email }}</a>
								{% endfor %}
							</td>
							<td>{{ item.job }}</td>
							<td><a href="{% url 'regions:contact_edit_modal' item.id %}" data-toggle="modal" data-target="#ContactModal"><span class="glyphicon glyphicon-pencil"></span></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}Сохраненных контактов нет
			{% endif %}
			<hr />
			<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ContactModal"
					href="{% url 'regions:new_contact_modal' region.id %}">
				<span class="glyphicon glyphicon-plus"></span> Новый контакт </button>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingTwo">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Последние запросы
				<small><span class="glyphicon glyphicon glyphicon-menu-down" aria-hidden="true"></span></small>
			</a>
		</h4>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			{% if last_issues %}
				{% include "helpdesk/table.html" with issues=last_issues %}
			{% endif %}
			<div class="panel-body">
				{% if not last_issues %}Запросы не найдены. {% endif %}
				<a href="{% url 'helpdesk:region_open' region.id %}">Все запросы</a>
			</div>
	</div>
</div>
{% endblock %}