{% extends 'regions/index.html' %}
{% load staticfiles %}

{% block title %}. Regions. {{ region }} {% endblock %}

{% block header_block %} <h3>{{ region }}</h3> {% endblock %}

{% block body_block %}

<h1>{{ region.gu_full }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'regions:submit' region.id %}" method="post">
    {% csrf_token %}

    <input type="text" name="region_count" value="{{ region.region_count }}" />

    <input type="submit" value="Go" />
</form>
{% endblock %}