{% extends 'base.html' %}

{% load staticfiles %}

{% load quick_filter_tag %}

{% block title %}. Index{% endblock %}

{% block header_block %}{% endblock %}

{% block side_block %}
    <ul class="nav nav-sidebar">
        <li{% if active_nav = 'my' %} class="active" {% endif %}><a href="{% url 'helpdesk:my' %}">Мои запросы</a></li>
        <li{% if active_nav = 'all' %} class="active" {% endif %}><a href="{% url 'helpdesk:all' %}">Все запросы</a></li>

		{% quick_filter_menu active_nav active_item %}

    </ul>
{% endblock %}

{% block header_right_block %}
	<a class="btn btn-primary" href="{% url 'helpdesk:new_issue' %}">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		<span class="sr-only">Создать</span>
		Новый запрос
	</a>
	<a class="btn btn-default" href="{% url 'helpdesk:filter' %}">
		<span class="glyphicon glyphicon-filter text-primary" aria-hidden="true"></span>
		<span class="sr-only">Фильтр</span>
		Фильтр
	</a>
	<!--<a class="btn btn-default" href="{% url 'search:haystack_search' %}">
		<span class="glyphicon glyphicon-search text-primary" aria-hidden="true"></span>
		<span class="sr-only">Поиск</span>
		Поиск
	</a>-->
	<a class="btn btn-default" role="button" data-toggle="popover" data-placement="bottom" data-html="true"
			data-content='<form class="form-horizontal" role="form" method="get" action="/search">
				<div class="input-group">
					<input name="q" type="text" class="form-control" placeholder="Введите текст запроса">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit">Поиск</button>
					</span>
				</div>
			</form>'>

		<span class="glyphicon glyphicon-search text-primary" aria-hidden="true"></span>
		<span class="sr-only">Поиск</span>
	</a>

{% endblock %}