{{ issue.creator.first_name }} {{ issue.creator.last_name }} зарегистрировал новый запрос {{ issue.issue_id }}
{% if issue.external_id %}({{ issue.external_id }}){% endif %}
<br />Для просмотра перейдите по <a href="{{ url }}">ссылке</a>.
<p>
	<strong>Инициатор:</strong> {{ issue.region }}<br />
	<strong>Контакт:</strong> {{ issue.contact.name }}<br />
	<strong>Контроль:</strong> {{ issue.control }}<br />
	<strong>Ответственный:</strong> {{ issue.assignee.last_name }} {{ issue.assignee.first_name }}<br />
</p>
<hr />
<p>
	<strong>Проект:</strong> {{ issue.project }}<br />
	<br /><strong>Тема:</strong> {{ issue.subject }}<br />
	<br /><strong>Описание:</strong><br />{{ issue.description|linebreaks }}<br />
</p>
<hr />
Текст для регистрации запроса:
<p>
	Заявка зарегистрирована под номером {{ issue.issue_id }}.<br />
	Ответственным исполнителем назначен {{ issue.assignee.last_name }} {{ issue.assignee.first_name }}.<br />
	Ориентировочный срок оказания услуги - {{ issue.control }}<br />
</p>
<hr />
Дополнительная информация:
<p>
	Просьба запросить у инициатора следующую информацию :<br />
	- Системный журнал и журнал событий (system log, application log) в формате *.evt<br />
	- Содержание каталогов C:\mqm\errors, [диск_с_данными]:\mqm\qmgrs\MZ_xx\errors, [диск_с_данными]:\mqm\qmgrs\COI_xx\errors<br />
	- Конфигурацию менеджеров очередей COI_xx и MZ_xx, собранную с использованием утилиты saveqmgr
</p>